---
import { getBackgroundColor } from '@/utils/colors'
import type { Color } from '@/types/utils'

const Variants = {
  normal: 'mask-up',
  reverse: 'mask-down',
}

type Variant = keyof typeof Variants

export type { Variant as SeparatorVariant }

interface Props {
  variant: Variant
  class?: string
  topColor?: Color
  bottomColor?: Color
}

const { variant, class: className, topColor = 'neutral_white', bottomColor = 'neutral_dark' } = Astro.props

const topClasses = [getBackgroundColor(topColor), Variants[variant]]
const bottomClasses = [getBackgroundColor(bottomColor), Variants[variant]]
---

<style>
  .mask-up {
    clip-path: polygon(100% 0, 0 0, 0 100%);
  }

  .mask-down {
    clip-path: polygon(100% 0, 0 0, 100% 100%);
  }
</style>

<!-- 
<section
  class='relative w-full min-h-20'
  class:list={topClasses}>
  <div
    class='size-full'
    class:list={bottomClasses}>
  </div>
</section>
 -->

<section
  class='relative w-full min-h-20'
  class:list={className}>
  <div
    class='absolute top-0 left-0 size-full'
    class:list={topClasses}>
  </div>
  <div
    class='absolute bottom-0 left-0 rotate-180 size-full'
    class:list={bottomClasses}>
  </div>
</section>
