---
import Footer from './footer/Footer.astro'
import Header from './header/Header.astro'

interface Props {
  title?: string
  description?: string
  keywords?: string
  enableFooterCta?: boolean
}

const {
  title = 'No Title',
  description = 'No Description',
  keywords = 'No Keywords',
  enableFooterCta = true,
} = Astro.props
---

<html lang='es'>
  <head>
    <meta charset='utf-8' />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <meta
      name='description'
      content={description}
    />
    <meta
      name='keywords'
      content={keywords}
    />
    <meta
      property='og:title'
      content={title}
    />
    <meta
      property='og:type'
      content='website'
    />
    <meta
      property='og:url'
      content='http://suads.pages.dev'
    />
    <meta
      property='og:image'
      content='http://suads.pages.dev/favicon.svg'
    />
    <meta
      property='og:description'
      content={description}
    />
    <meta
      name='theme-color'
      content='#063A5B'
    />

    <!-- Include this to make the og:image larger -->
    <meta
      name='twitter:card'
      content='summary_large_image'
    />
    <title>{title}</title>
  </head>

  <body>
    <div class='grid md:grid-cols-12'>
      <aside class='relative md:col-span-2'>
        <Header />
      </aside>

      <aside class='grid md:col-span-10 grid-template-rows'>
        <main>
          <slot />
        </main>
        <Footer enableCta={enableFooterCta} />
      </aside>
    </div>
  </body>
</html>

<style>
  .grid-template-rows {
    grid-template-rows: 1fr auto;
  }
</style>
